* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #03071e;
    color: white;
    /* background-image: url(./img/background.jpg);
    background-size: cover;
    background-position: center;*/
}

.header {
    width: 75%;
    display: flex;
    margin: 10px auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 20px auto;

}

.link {
    margin: 40px;
}

nav ul {
    gap: 15px;
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #e01a4f;
}

.form {
    width: 70%;
    margin: 20px auto;

}

form {
    background-color: #dee2e6;
    display: block;
}

h2 {
    margin: 10px;
}

label {
    font-weight: bold;
    font-size: large;

}

input {
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

select {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

footer {
    background-color: #03071e;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
    color: white;
}